Options +FollowSymLinks
RewriteEngine On
RewriteBase /ucc-lms-dev/

# Exclude certain file types (CSS, JS, images) from being rewritten
RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|jpeg|gif|ico|svg|webp|woff|woff2|ttf|php)$ [NC]

# Exclude the controllers directory from being rewritten
RewriteCond %{REQUEST_URI} !^/ucc-lms-dev/controllers/ [NC]

# Rewrite rule for the home page
RewriteRule ^$ src/views/guest/home.php [L]
RewriteRule ^faq$ src/views/guest/faq.php [L]
RewriteRule ^tc$ src/views/guest/terms_and_conditions.php [L]
RewriteRule ^privacy$ src/views/guest/privacy_policy.php [L]

# Custom 404 ErrorDocument that triggers /error/404 URL
ErrorDocument 404 /ucc-lms-dev/src/views/partials/special/error.php
ErrorDocument 403 /ucc-lms-dev/src/views/partials/special/error.php
ErrorDocument 500 /ucc-lms-dev/src/views/partials/special/error.php
ErrorDocument 401 /ucc-lms-dev/src/views/partials/special/error.php
ErrorDocument 400 /ucc-lms-dev/src/views/partials/special/error.php

php_value upload_max_filesize 1000M
php_value post_max_size 1000M

# Deny access to.env file to prevent sensitive data exposure.
<Files .env>
    Order allow,deny
    Deny from all
</Files>
