@import url(root.css);

* {
    color: var(--text-color);
}


/* Custom button styles */
.btn-primary.custom_btn_login {
    background-color: var(--c-brand-secondary-dark-a0);
    border-color: var(--c-brand-secondary-dark-a0);
}
.btn-primary.custom_btn_login:hover {
    background-color: var(--c-brand-secondary-dark-a20);
    border-color: var(--c-brand-secondary-dark-a20);
}
.btn-primary.custom_btn_login:active {
    background-color: var(--c-brand-secondary-dark-a20);
    border-color: var(--c-brand-secondary-dark-a20);
}

.carousel-item {
    height: 80lvh;
    background-color: var(--c-surface-dark-a40);
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

#topNav {
    position: relative;
    
    background-color: var(--background-color);
}

#topNav #btnOpenNavSideBarMobile {
    display: none;
}

.nav-sidebar {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 90%;
    height: 100vh;
    transition: 0.3s ease;
    display: none;
    transform: translateX(-100%);
}

.nav-sidebar.sidebar-active {
    transform: translate(0);
}

@media only screen and (max-width: 768px) {
    #topNav .nav-container {
        width: 90% !important;
    }
    #topNav #btnOpenNavSideBarMobile {
        display: block;
    }
    #topNav .nav-subcontent {
        display: none !important;
    }
    .nav-sidebar {
        display: block;
    }
}
@media only screen and (max-width: 400px) {
    #topNav .nav-container {
        width: 100% !important;
    }
}