@import url(widths.css);

:root { 
    /* COLORS */
    --green:        #026235;
    --green-light:    #17994f;
    --green-dark:    #0e7039;
    --green-t-25: rgb(2, 98, 53, 0.25);

    --gold:         #C8B12D;
    --gold-light:   #E1B12C;
    --gold-dark:    #9C8700;

    --white: #FFFFFF;
    --black: #000000;
    --gray: #808080;
}

:root {
    /* SYSTEM COLORS */
    --c-danger-a0:     #d50000;
    --c-danger-a20:    #df3b20;
    --c-danger-a40:    #e85a3a;
    --c-danger-a60:    #ef7454;
    --c-danger-a80:    #f68c6f;
    --c-danger-a100:   #fba38a;
    
    --c-warning-a0:     #ffff00;
    --c-warning-a20:    #ffff42;
    --c-warning-a40:    #ffff61;
    --c-warning-a60:    #ffff7b;
    --c-warning-a80:    #ffff93;
    --c-warning-a100:   #ffffa9;



    /* SURFACE COLORS */
    /* LIGHT */
    --c-surface-a0:    #dcdde1;
    --c-surface-a20:   #e0e1e4;
    --c-surface-a40:   #e4e4e8;
    --c-surface-a60:   #e8e8eb;
    --c-surface-a80:   #ebecee;
    --c-surface-a100:  #eff0f2;
    /* DARK */
    --c-surface-dark-a0:    #1c1c1c;
    --c-surface-dark-a20:   #313131;
    --c-surface-dark-a40:   #474747;
    --c-surface-dark-a60:   #5f5f5f;
    --c-surface-dark-a80:   #777777;
    --c-surface-dark-a100:  #919191;
    /* MIXED WITH PRIMARY */
    --c-surface-mixed-a0:   #1d231f;
    --c-surface-mixed-a20:  #323834;
    --c-surface-mixed-a40:  #484d4a;
    --c-surface-mixed-a60:  #606461;
    --c-surface-mixed-a80:  #787c79;
    --c-surface-mixed-a100: #929593;


    /* BRAND COLORS */
    /* https://colorffy.com/dark-theme-generator */
    /* ======================================================= */
    --c-brand-primary-a0:       #026235;
    --c-brand-primary-a20:      #2d7349;
    --c-brand-primary-a40:      #49845e;
    --c-brand-primary-a60:      #639573;
    --c-brand-primary-a80:      #7ca689;
    --c-brand-primary-a100:     #96b7a0;
    
    --c-brand-secondary-a0:       #c8b12d;
    --c-brand-secondary-a20:      #d0b949;
    --c-brand-secondary-a40:      #d7c261;
    --c-brand-secondary-a60:      #deca78;
    --c-brand-secondary-a80:      #e4d38f;
    --c-brand-secondary-a100:     #ebdba5;
    --c-brand-secondary-dark-a0:       #9c8700;
    --c-brand-secondary-dark-a20:      #a8932d;
    --c-brand-secondary-dark-a40:      #b5a049;
    --c-brand-secondary-dark-a60:      #c0ad63;
    --c-brand-secondary-dark-a80:      #ccba7c;
    --c-brand-secondary-dark-a100:     #d7c896;
    /* ======================================================== */

    /* TRANSITIONS */
    --c-transition-1: 0.3s ease;
}
/* General thin scrollbar style for WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 6px; /* Thin scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent; /* Default track */
}

::-webkit-scrollbar-thumb {
    background-color: var(--c-brand-primary-a0); /* Primary color for the thumb */
    border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--c-brand-primary-a20); /* Hover color for the thumb */
}

body, body[data-theme="light"] {
    --background-color: #ffffff;
    --text-color: #000000;
    --text-color-accent: var(--c-brand-primary-a0);
    --surface-primary-color: white;

    color: var(--text-color);
}

body[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #ffffff;
    --surface-primary-color: var(--c-surface-dark-a40);
}


.transition-1 {
    transition: var(--c-transition-1);
}

.cbg-primary {
    background-color: var(--c-brand-primary-a0);
}
.c-border {
    border-color: var(--c-brand-primary-a0);
}
.ctxt-primary {
    color: var(--c-brand-primary-a0);
}
.c-text-danger {
    color: var(--c-danger-a0);
}

/* CUSTOM BOOTSTRAP */
.btn-primary.c-primary {
    background-color: var(--c-brand-primary-a0);
    border-color: var(--c-brand-primary-a0);
}
.btn-primary:active.c-primary {
    background-color: var(--c-brand-primary-a20);
    border-color: var(--c-brand-primary-a20);
}
.btn-outline-primary.c-primary {
    background-color: transparent;
    border-color: var(--c-brand-primary-a0);
    color: var(--c-brand-primary-a0);
}
.btn-outline-primary:active.c-primary {
    background-color: var(--c-brand-primary-a0);
    border-color: var(--c-brand-primary-a0);
    color: white;
}

.modal-header.c-header {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    position: relative;
}

.modal-header.c-header .btn-close {
    position: absolute;
    right: 1rem; /* Keep the close button on the right side */
}

.form-control:focus, .form-check-input[type="checkbox"]:focus {
    border-color: var(--c-brand-primary-a0);
    box-shadow: 0 0 0 .25rem var(--green-t-25);
}
.form-check-input[type="checkbox"]:checked {
    background-color: var(--c-brand-primary-a0);
    border-color: var(--c-brand-primary-a0);
}

.content-100vh {
    height: 100vh;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--c-brand-primary-a0);
}

.ul_no-design {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: black;
}

.box-sizing-border-box {
    box-sizing: border-box !important;
}

.box-sizing-content-box {
    box-sizing: content-box !important;
}

.form-select:active, .form-select:focus {
    outline-color: var(--c-brand-primary-a0);
    border-color: var(--c-brand-primary-a0);
    box-shadow: 0 0 0 .25rem var(--green-t-25);
}

.dropdown-toggle.dropdown-no-icon::after {
    display: none;
}

.progress.progress-xsm {
    height: 1px;
}

.progress.progress-sm {
    height: 5px;
}

.progress.progress-md {
    height: 10px;
}

.nav-link, .nav-link:hover {
    color: rgba(0, 0, 0, 0.75);
}
.nav-link.active {
    color: var(--c-brand-primary-a0) !important;
}

/* BACKGROUND COLORS */
.bg-light-2 {
    background-color: #dcdde1;
}
.bg-light-3 {
    background-color: #f1f2f6;
}

.no-scroll {
    overflow: hidden;
}